.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
}

.chart-box {
    width: 260px;
    height: 260px;
}

.chart-box canvas {
    width: 100% !important;
    height: 100% !important;
}
